*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar{
    width: 375px;
    height: 275px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.left, .right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    margin: 6px;
}
.right{
    width: 42%;
    background:  #E52B50;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.left{
    width: 58%;
}
#date{
    font-size: 130px;
    line-height: 110px;
}
@media only screen and (max-width: 600px) {
    .calendar {
        width: 90%;
        max-width: 90vw;
        height: auto;
        flex-direction: column;
    }

    .left, .right {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    #date {
        font-size: 60px;
        line-height: 1;
    }
}